@model HomeVIewModel


@{

    int counter = 0;
}


<br/>
<img src="~/images/index_photo.jpg" class="indexP" />

<br/>
<h2 style="color: #f0e3ca">Coffees of the week</h2>
<br />
<h4 style="color: #f0e3ca">Our weekly selection - just for you!</h4>
<br />

<div class="row">
    @foreach (var coffee in Model.CoffeesOfTheWeek)
    {
        if (counter != 0 && counter % 3 == 0)
        {
        @:</div>
        @:<div class="row">
        }

        <partial name="_CoffeeCard" model="coffee" />



    }

</div>